
@{
    ViewBag.Title = "SpeedStack!";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Fast Paced Full Stack Web Development</h2>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->

<div class="row">

    <!-- ============================================================== -->
    <!-- vertical tabs  -->
    <!-- ============================================================== -->
    <div class="col">
        <div class="card-body border-top">
            <h4>Database Administration Web Application</h4>
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Do you ...</h4>
                <p>
                    Want to build a database administration web application for your business?<br />
                    Want an application to be used to view and edit the database records with built in REST API functionality? <br />
                    Require a stand-alone product that will be interfaced with an existing database schema? <br />
                    Want proof of concept and quick delivery of the application at a drastic reduction in cost?<br />
                </p>
                <hr>
                <p class="mb-0">
                    Such a project can take between 3 to 6 months requiring an expert or experts to work more than 30 hrs/week at an expensive hourly rate. The Speed-Stack framework can do everything within days!
                    There are 3 stages to the delivery of your solution.
                </p>
            </div>
        </div>
        <div class="tab-vertical">
            <ul class="nav nav-tabs" id="myTab3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-vertical-tab" data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home" aria-selected="true">Database Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">Generate Stack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-vertical-tab" data-toggle="tab" href="#contact-vertical" role="tab" aria-controls="contact" aria-selected="false">Deliver Stack</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent3">
                <div class="tab-pane fade show active" id="home-vertical" role="tabpanel" aria-labelledby="home-vertical-tab">
                    <p class="lead"> Map of the database. </p>
                    <p>Just send a map of the database structure or a connection to your cloud or server of your test environment with their fields and associated primary keys. The map will be analyzed to make sure it complies to a standard object relationship layout. Once compliance is passed it will be used to generate the application with the SK framework tools developed.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="~/Content/img/DatabaseMapTrans.png" alt="Database Map" />
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-vertical" role="tabpanel" aria-labelledby="profile-vertical-tab">
                    <h3>Speed Stack Framework</h3>
                    <p>The speed stack framework produces the front-end and back-end code in the form of Microsoft SQL server CRUD stored procedures, SQL Views, the C# MVC business layer model classes, controllers, views and RESTFUL Web API controllers. All 100% Microsoft Visual Studio, based. All ready to run on day one. No proprietary code to learn. Customizable by any MVC software engineer. </p>
                    <div class="text-center">
                        <img class="img-fluid" src="~/Content/img/FullStackTrans.png" alt="Stack Map" />
                    </div>
                </div>
                <div class="tab-pane fade" id="contact-vertical" role="tabpanel" aria-labelledby="contact-vertical-tab">
                    <h3>Code and files</h3>
                    <p>All the code and files necessary to further develop and run the application on your servers will be delivered to you.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="~/Content/img/DeliveryTrans.png" alt="Delivery Map" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end vertical tabs  -->
    <!-- ============================================================== -->
</div>

<div class="row">

    <!-- ============================================================== -->
    <!-- vertical tabs  -->
    <!-- ============================================================== -->
    <div class="col">
        <div class="section-block">
            <h5 class="section-title"></h5>
            <p></p>
        </div>
        <div class="tab-vertical">
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-vertical-tab4" data-toggle="tab" href="#home-vertical4" role="tab" aria-controls="home" aria-selected="true">Demo Web <br /> Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-vertical-tab4" data-toggle="tab" href="#profile-vertical4" role="tab" aria-controls="profile" aria-selected="false">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-vertical-tab4" data-toggle="tab" href="#contact-vertical4" role="tab" aria-controls="contact" aria-selected="false">Frequently <br /> Asked Questions</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent4">
                <div class="tab-pane fade show active" id="home-vertical4" role="tabpanel" aria-labelledby="home-vertical-tab4">
                    <p class="lead"> C# ASP.NET MVC Database Administration Web Application. </p>
                    <p><a href='@Url.Action("Login","Tbl_Login")' class="btn btn-primary">Run Northwind Demo Web App</a></p>
                    <p>This demo was generated using the Speed Stack framework from the database map shown below. Any Microsoft SQL Server database from any industry can equally be used. The Speed Stack framework can quickly produce the necessary code to maintain the database. The demo application demonstrates a company that imports and exports food globally.</p>
                    <img class="img-fluid" src="~/Content/img/NorthWind.png" alt="Database Map" />
                </div>
                <div class="tab-pane fade" id="profile-vertical4" role="tabpanel" aria-labelledby="profile-vertical-tab4">
                    <div class="card-body">

                        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                            <h1 class="display-4">Pricing</h1>
                            <p class="lead">Quickly build an effective web administrative application that would take months of work to achieve. It's built with default C# MVC code and components. It can be customized by us or any MVC software engineer.</p>
                        </div>

                        <div class="container">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Basic</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$50 <small class="text-muted">1 day</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>The administration web application is designed from 1 schema table</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Standard</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$100 <small class="text-muted">2 days</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>The administration web application is designed from 2 schema tables</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Premium</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$450 <small class="text-muted">4 days</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>The administration web application is designed from up-to 15 schema tables</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Buy</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

                                        <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
                                            <a itemprop='url' href=https://www.fiverr.com/fmoneproduction rel="nofollow" target="_blank" style='display: inline-block;'>
                                                <div class='fiverr-seller-content' id='fiverr-seller-widget-content-455b3971-aefb-4204-b3df-0dc9f0205ecc' itemprop='contentURL' style='display: none;'></div>
                                                <div id='fiverr-widget-seller-data' style='display: none;'>
                                                    <div itemprop='name'>fmoneproduction</div>
                                                    <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
                                                    <div itemprop='jobtitle'>Seller</div>
                                                    <div itemprop='description'>I am a software engineer and entrepreneur. I have developed software for over 15 years for small, medium and large companies. I have also created and designed web applications. Speed Stack is a framework I developed and use that quickly creates all the components that a web application needs to run and function within a live environment.</div>
                                                </div>
                                            </a>
                                        </div>

                                        <script id='fiverr-seller-widget-script-455b3971-aefb-4204-b3df-0dc9f0205ecc' src='https://widgets.fiverr.com/api/v1/seller/fmoneproduction?widget_id=455b3971-aefb-4204-b3df-0dc9f0205ecc' data-config='{"category_name":"Programming \u0026 Tech"}'></script>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="contact-vertical4" role="tabpanel" aria-labelledby="contact-vertical-tab4">
                    <h3>Questions</h3>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary">How do I send my database’s map to you?</li>
                            <li class="list-group-item">We connect to your test database on your cloud, server or use a database script you send to us. The process behind the connection runs quickly and has minimal impact – it’s not collecting anything heavy. The collector app requires no installation. Any subsequent changes to your data structure or our collector app will require the processes to run again.</li>

                            <li class="list-group-item list-group-item-secondary">How many databases can you analyse?</li>
                            <li class="list-group-item">As many as you like. Speed-Stack is priced per database. We process only your SQL servers on your Development and Test boxes. We analyse the database structure first and make recommendations before we process it.</li>

                            <li class="list-group-item list-group-item-secondary">What SQL Server versions do you support?</li>
                            <li class="list-group-item">SQL Server 2008 and newer. Microsoft stopped all support for SQL Server 2005 in April 12, 2016. Since Microsoft aren’t supporting it, we decided we wouldn’t either.</li>

                            <li class="list-group-item list-group-item-secondary">What development IDE’s are supported by the framework?</li>
                            <li class="list-group-item">The framework is 100% Visual Studio based and will be delivered as a Visual Studio solution. </li>

                            <li class="list-group-item list-group-item-secondary">What’s the database structure collection overhead?</li>
                            <li class="list-group-item">It’s very, very low. It only collects the structure. It’s unlikely you will even notice it running.</li>

                            <li class="list-group-item list-group-item-secondary">What data relationships gets collected?</li>
                            <li class="list-group-item">
                                We collect only the tables relationships. We do not collect any of your application data. You can examine all the data relationships that we collect.

                                We don’t collect execution plans, statistics, memory dumps, or passwords.
                            </li>

                            <li class="list-group-item list-group-item-secondary">What’s done with the data relationships?</li>
                            <li class="list-group-item">
                                Speed-Stack gets the data relationships from your SQL Server or script, and uses it on our secure storage where we load the structure into our SQL Server, analyse it, and build an administration web application to send to you.

                                We analyse each of your databases and provide you with seperate applications. We do not share or sell any of your server’s data schemas and never will.
                            </li>
                            <li class="list-group-item list-group-item-secondary">What are the key deliverables?</li>
                            <li class="list-group-item">
                                - Database SQL scripts, C# classes, Java scripts <br />
                                - CRUD web pages <br />
                                - Login authorization functionality  <br />
                                - Master-Detail functionality, dropdown list master lookups (based on 2 tables)<br />
                                - Search and export the data to external sources<br />
                                - Paging <br />
                                - Bootstrap HTML Responsive Design (viewed on both desktop and mobile devices) <br />
                                - Basic Restful Web API <br />
                                - Error database logging <br />
                                - Link to test the web application <br />
                                - Revisions include any label and field inclusion/exclusion changes  <br />
                                - The web application uses a free admin template called Concept found on the colorib website at  <a href="https://colorlib.com//polygon/concept/index.html">&raquo; click here</a>
                            </li>
                            <li class="list-group-item list-group-item-secondary">How do I contact you?</li>
                            <li class="list-group-item"><p><a href="mailto:youarereasonable@gmail.com?subject=Speed-Stack%20Information&amp;body=%0ARequirement%20%3A%0A%0AContact%20details%3A%0A%0A" class="btn btn-secondary btn-lg">Make A Request &raquo;</a></p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end vertical tabs  -->
    <!-- ============================================================== -->
</div>